._10print-container {
    background-color: #2B4570;
}

._10print-container h2 {
    font-family: Courier New, Courier;
}


.canvas-container {
    padding: 0 10%;
    min-height: 500px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.canvas-container .about {
    min-height: 500px;
    flex: 0 0 500px;
    padding: 15px 30px;

    font-size: 1.2em;
}

.canvas-container canvas {
    min-height: 500px;
}

span.code {
    font-family: Courier New, Courier;
    font-weight: bold;
    display: block;
}

header {
    height: 300px;
    box-sizing: border-box;
    margin-top: 3em;
    padding: 0 10%;
}

header h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    margin-top: 0;
}

header a {
    color: #FAA916;
}

header p {
    font-size: 1.5em;
}

body {
    margin: 0px;
    background-color: #001427;
    color: white;

    font-family: Helvetica, Arial;
}

div {
    box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}