.square-bloom-container {
    --mainColor: #0D1821;
}
.spiro-container {
    --mainColor: #4C5454;
}

._10print-container {
    --mainColor: #EF8354;
}

._10print-container h2 {
    font-family: Courier New, Courier;
}

.canvas-container {
    --textColor: white;
    min-height: 500px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--mainColor);
    color: var(--textColor);
}

.canvas-container .about {
    flex: 1;
    padding: 30px;
    font-size: 1.2em;
    align-self: flex-start;
    margin-bottom: 15px;
}

.canvas-container .about h2{
    margin: 0 0 10px 0;
}

@media screen and (min-width: 992px) {
    .canvas-container {
        flex-direction: row;
        justify-content: center;       
    }
    .canvas-container .about {
        margin: 0;
    }

}
@media screen and (min-width: 1200px) {
    .canvas-container {
        padding: 0 10%;
    }
}

:root {
    --mainColor: black;
    --textColor: white;
}

input[type="text" i] {
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-family: 'Roboto', sans-serif;
}

button {
    border: 2px solid white;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    background: transparent;
    color: inherit;
}

button:active {
    color: var(--mainColor);
    background-color: var(--textColor);
}

button:focus {
    outline: none;
}

span.code {
    font-family: Courier New, Courier;
    font-weight: bold;
    display: block;
}

header {
    height: 300px;
    box-sizing: border-box;
    margin-top: 3em;
    padding: 0 10%;
}

header h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    margin-top: 0;
    font-weight: 700;
    font-style: italic;
}

header a {
    color: #FAA916;
}

header p {
    font-size: 1.2em;
}

body {
    margin: 0px;
    color: white;
    background-color: #2a9d8f;

    font-family: 'Roboto', sans-serif, Helvetica, Arial;
}

div {
    box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}